body {
  font-family: Arial, sans-serif;
  background-image: url('zillow1.jpg');
  background-size: none;
  background-position: top;
 
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.rent-container {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-size: 36px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

p:first-child {
  color: #666;
}

p:nth-child(2), p:nth-child(3), p:nth-child(4) {
  font-style: italic;
  color: #999;
}
