body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
   background-image: url('zillow1.jpg');
}

.support-container {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 0px;
}

input, textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px ;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}
