*{
padding: 0;
margin: 0;
font-family: monospace;
}
ul{
list-style: none;
background: #FFF;
}
ul li {
display: inline-block;
position: relative;
}
ul li a{
display: block;
padding: 10px 25px;
color: #000;
text-decoration: none;
text-align: center;
font-size: 20px;
}
ul li ul.dropdown li {
display: block;
}
ul li ul.dropdown {
width:100%;
background:#fff;
position: absolute;
z-index: 999;
display: none;
}
ul li:hover ul.dropdown{
display: block;
}
add background color for this css

